/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/


/* Doodle Stage */
#stage {
  
  height: 300px;
  width: 600px;
}

.C:active{

  opacity: 0;

}



#paper:active {
 
}
